.form__input-city{
    position: relative;
    span{
      position: absolute;
      color: $grey-color;
      &.form__input-label{
        right: $rem-1000;
        top: 21px;
        font-size: $rem-10625;
      }
      &.form__label-from{
        font-size: $rem-750;
        top: $rem-750;
        left: $rem-1000;
        z-index: 2;
      }
    }
    input{
        border-radius: $rem-750;
        width: 100%;
        height: $rem-3875;
        font-size: $rem-10625;
        padding: 12px 16px 0;
        &.grey{
          background-color: #f3f3f3;
        }
    }
}

.form__inputs-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: $rem-500;
    margin-top: $rem-500;
    &.grey{
      .input-item{
        background-color: $border-color;
      }
    }
    .input-item{
      background-color: $white-color;
      border-radius: $rem-750;
      display: flex;
      align-items:center;
      gap: $rem-500;
      padding:$rem-750 $rem-1000;
      p{
        font-size: $rem-875;
        margin-bottom: 0;
      }
    }
}

.form__city-list{
    margin-top: $rem-1500;
    .list-item{
        display: flex;
        align-items: center;
        padding: $rem-750 0;
        border-bottom: 1px solid $border-color;
        p{
            font-size: $rem-10625;
            margin-left: $rem-500;
        }
        span{
            color: $grey-color;
            font-size: $rem-10625;
            margin-left: auto;
        }
    }
}