.icon{
  width: $rem-1875;
  height: $rem-1875;
  object-fit: contain;
  object-position: center center;
}

.white--text{
  color: $white-color;
}

.black--text{
  color: $black-color;
}

.grey--text{
  color: $grey-color;
}

.brand--text{
  color: $brand-color;
}

.text--center{
  text-align: center;
}

@keyframes fillAnimation {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.loader{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: $rem-1500;
}