
.modal-wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  &.passanger{
    top: 70%;
    bottom: 0;
    height: auto;
    z-index: 10;
  }
}
.modal-header-line{
  width: $rem-4000;
  height: $rem-250;
  background-color: #d1d1d6;
  margin: $rem-500 auto $rem-750;
}
.detail-header{
  padding: $rem-625 0;
  border-bottom: 1px solid $border-color;
  margin-bottom: $rem-1500;
  &-box{
      display: flex;
      align-items: center;
      position: relative;
      .img-box{
          margin-left: auto;
      }
      .back-box{
          display: flex;
          align-items: center;
          gap: 13px;
          p{
              font-size: $rem-10625;
              color: $blue-color;
          }
      }
  }
  &-logo{
      position: absolute;
      left: 50%;
      transform: translate(-50%);
      h1{
          color: $black-color;
          font-size: $rem-10625;
          font-weight: 600;
      }
  }
}

.tray-enter,
.tray-leave-to { top: -100%; }

.tray-leave,
.tray-enter-to { top: 0; }

.tray-enter-active,
.tray-leave-active { transition: top 300ms }