@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
@import "./_variables.scss";
@import "./components/_global.scss";
@import "./components/_main.scss";
@import "./components/_form.scss";
@import "./components/_modal.scss";
@import "./components/_tour.scss";
@import "./components/_detailPage.scss";

* {
	outline: none !important;
  font-family: 'Manrope', sans-serif;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'SF Pro Display', sans-serif;
}

html {
	box-sizing: border-box;
	scroll-behavior: smooth; 
	margin: 0;
}

body {
	margin: 0;
}

input{
	outline: none;
	border: none;
}

a{
	text-decoration: none;
}

button{
	border: none;
	outline: none;
	cursor: pointer;
}

img{
	max-width: 100%;
}

.container {
	max-width: 480px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
	padding: 0;
}

.modal__btn-box{
	padding: $rem-500 $rem-1000;
	border-top: 1px solid $border-color;
}

.bottom-btn-box{
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: $white-color;
}

.btn{
	width: 100%;
	border-radius: $rem-750;
	display: flex;
	justify-content: center;
	align-items: center;
	color: $white-color;
	cursor: pointer;
	font-size: $rem-10625;
	font-weight: 500;
}

.btn-1{
	background-color: $brand-color;
	height: $rem-3250;
}

.btn-2{
	background-color: $sec-black-color;
	height: $rem-3000;
}

.btn-3{
	background-color: $white-color;
	height: $rem-3000;
	color: $black-color;
	border: 1px solid $black-color;
}